---
---

<div class="row">
  <div class="col-sm-2 abbr">
  {% if entry.abbr %}
    {% if site.data.venues[entry.abbr] %}
    <abbr class="badge"><a href="{{site.data.venues[entry.abbr].url}}" target="_blank">{{entry.abbr}}</a></abbr>
    {% else %}
    <abbr class="badge">{{entry.abbr}}</abbr>
    {% endif %}
  {% endif %}
  </div>

  <div id="{{entry.key}}" class="col-sm-8">
    {% if entry.type == "thesis" %}
      {{reference}}
    {% else %}
    {% if entry.url %}
      <span class="title"><a href="{{entry.url}}">{{entry.title}}</a></span>
    {% else %}
      <span class="title">{{entry.title}}</span>
    {% endif %}
      <span class="author">
        {% for author in entry.author_array %}
          {% if forloop.length == 1 %}
            {% if author.last == site.scholar.last_name %}
              <em>{{author.last}}, {{author.first}}</em>
            {% else %}
              {{author.last}}, {{author.first}}
            {% endif %}
          {% else %}
            {% unless forloop.last %}
              {% if author.last == site.scholar.last_name %}
                <em>{{author.last}}, {{author.first}}</em>,
              {% else %}
                {% if site.data.coauthors[author.last] %}
                  <a href="{{site.data.coauthors[author.last].url}}" target="_blank">{{author.last}}, {{author.first}}</a>,
                {% else %}
                  {{author.last}}, {{author.first}},
                {% endif %}
              {% endif %}
            {% else %}
              {% if author.last == site.scholar.last_name %}
                and <em>{{author.last}}, {{author.first}}</em>
              {% else %}
                {% if site.data.coauthors[author.last] %}
                  and <a href="{{site.data.coauthors[author.last].url}}" target="_blank">{{author.last}}, {{author.first}}</a>
                {% else %}
                  and {{author.last}}, {{author.first}}.
                {% endif %}
              {% endif %}
            {% endunless %}
          {% endif %}
        {% endfor %}
      </span>

      <span class="periodical">

      <!-- ARTICLE -->      
      {% if entry.type == "article" %}
        <em>In {{entry.journal}},
        {% if entry.volume %}
          Vol. {{entry.volume}}, 
        {% endif %}
        {% if entry.number %}
          Vol. {{entry.number}}, 
        {% endif %}
        {% if entry.pages %}
          pp. {{entry.pages}}, 
        {% endif %}
        {% if entry.publisher %}
          {{entry.publisher}}, 
        {% endif %}</em>

      <!-- INPROCEEDING -->      
      {% elsif entry.type == "inproceedings" %}
        <em>In {{entry.booktitle}},
        {% if entry.pages %}
          pp. {{entry.pages}}, 
        {% endif %}
        {% if entry.publisher %}
          {{entry.publisher}}, 
        {% endif %}</em>

      <!-- INBOOK -->      
      {% elsif entry.type == "inbook" %}
        <em>In {{entry.booktitle}},
        {% if entry.pages %}
          pp. {{entry.pages}}, 
        {% endif %}
        {% if entry.publisher %}
          {{entry.publisher}}, 
        {% endif %}</em>

      <!-- BOOK -->      
      {% elsif entry.type == "book" %}
        <em>
        {% if entry.publisher %}
          {{entry.publisher}}, 
        {% endif %}</em>
      
      <!-- INCOLLECTION -->      
      {% elsif entry.type == "incollection" %}
        <em>In {{entry.booktitle}},
        {% if entry.pages %}
          pp. {{entry.pages}}, 
        {% endif %}
        {% if entry.publisher %}
          {{entry.publisher}}, 
        {% endif %}</em>

      <!-- PROCEEDINGS --> 
      {% elsif entry.type == "proceedings" %}
        <em>In {{entry.editor}} (Eds.) {{entry.title}},
        {% if entry.publisher %}
          {{entry.publisher}}, 
        {% endif %}</em>

      {% endif %}


      {% if entry.year %}
        &nbsp;{{entry.year}}{% endif %}.
      </span>
    {% endif %}

    <span class="links">
    {% if entry.abstract %}
      [<a class="abstract">Abs</a>]
    {% endif %}
    {% if entry.arxiv %}
      [<a href="http://arxiv.org/abs/{{ entry.arxiv }}" target="_blank">arXiv</a>]
    {% endif %}
    {% if entry.html %}
      [<a href="{{ entry.html }}" target="_blank">HTML</a>]
    {% endif %}
    <!--
    {% if entry.key %}
      [<a href="https://www.se-rwth.de/publications/browser/bibtexbrowser.php?key={{entry.key}}&bib=..%2F..%2Fpublications%2Fbibtex%2FMASTERDATEI.bib" target="_blank">Bibtex</a>]
    {% endif %}
    {% if entry.url %}
      [<a href="{{entry.url}}" target="_blank">PDF</a>]
    {% endif %}
  -->
    {% if entry.supp %}
      [<a href="{{ entry.supp | prepend: '/assets/pdf/' | relative_url }}" target="_blank">Supp</a>]
    {% endif %}
    {% if entry.poster %}
      [<a href="{{ entry.poster | prepend: '/assets/pdf/' | relative_url }}" target="_blank">Poster</a>]
    {% endif %}
    {% if entry.slides %}
      [<a href="{{ entry.slides | prepend: '/assets/pdf/' | relative_url }}" target="_blank">Slides</a>]
    {% endif %}
    {% if entry.code %}
      [<a href="{{ entry.code }}" target="_blank">Code</a>]
    {% endif %}
    </span>

    <!-- Hidden abstract block -->
    {% if entry.abstract %}
    <span class="abstract hidden">
      <p>{{ entry.abstract }}</p>
    </span>
    {% endif %}
  </div>
</div>
